@page
@model FinalProject.Pages.ComposeEmailModel
@{
    ViewData["Title"] = "Compose New Email";
}

<a class="btn btn-danger btn-sm" href="/Index">Back</a>
<br>
<br>
<h2>Compose New Email</h2>




<form method="post">
    <div>
        <br>
        <label for="to">To:</label>
        <input type="text" id="to" name="EmailReceiver" required />
    </div>
    <div>
        <br>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="EmailSubject" required />
        
    </div>
    <div>
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="EmailMessage" required></textarea>
    </div>
    <br>
    <button type="submit">Send</button>

</form>