@page
@model FinalProject.Pages.ReadEmailModel
@{
    ViewData["Title"] = "Read Email";
}

<a class="btn btn-danger btn-sm" href="/Index">Back</a>
<br>

<h3>From : @Model.listEmails[0].EmailSender</h3>
<p style="color: gray;">to : @Model.listEmails[0].EmailReceiver</p>
<br>

<h4>@Model.listEmails[0].EmailSubject</h4>
<br>

<table style="background-color: white" >
    <tr>
        <td style="height: 420px; width: 1070px; vertical-align: top;">
            <p>@Model.listEmails[0].EmailMessage</p> 
        </td>
    </tr>
</table>